{%  extends "base.html" %}

{%  black title %}Flasky{%  endblock %}

{%  block content %}
<div class="container">
    <div class="page-header">
        <h1>Hello, {{ name }}!</h1>
    </div>
</div>
{% endblock %}